* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans";
    font-size: 1.8rem;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.wrapper.light {
    background-color: hsl(0, 0%, 98%);
    background-image: url(/bg-desktop-light.jpg);
    color: hsl(236, 9%, 61%);
}

.wrapper.dark {
    background-color: hsl(235, 21%, 11%);
    background-image: url(/bg-desktop-dark.jpg);
    color: hsl(234, 11%, 52%);
}

.wrapper {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: contain;
}

.container {
    max-width: 54rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8rem;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

button {
    color: hsl(236, 9%, 61%);
    font-family: "Josefin Sans";
    font-size: 1.8rem;
    font-weight: 400;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn.active {
    font-weight: 700;
}

.wrapper.dark .btn.active {
    color: hsl(192, 100%, 67%);
}

.input-control {
    background-color: white;
    width: 100%;
    height: 6.4rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding-top: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: 2.4rem;
    border-radius: 1rem;
    margin-bottom: 2.4rem;
}

.wrapper.dark .input-control {
    background-color: hsl(235, 24%, 19%);
}

.todo-input {
    width: 100%;
    font-family: "Josefin Sans";
    font-size: 1.8rem;
    font-weight: 400;
    border: none;
    outline: none;
}

.wrapper.dark .todo-input {
    background-color: hsl(235, 24%, 19%);
}

.todo-list-section {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 4.8rem;
    box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
}

.wrapper.dark .todo-list-section {
    background-color: hsl(235, 24%, 19%);
    box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
}

.todo-list li {
    display: flex;
    flex-direction: row;
    height: 6.4rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-bottom: 0.1rem solid hsl(236, 33%, 92%);
    row-gap: 2.4rem;
    column-gap: 2.4rem;
}

.todo-list {
    list-style: none;
}

.todo-list li:last-child {
    border-bottom: none;
}

.wrapper.dark li {
    border-bottom-color: hsl(237, 14%, 26%);
}

.todo-list p.completed {
    color: hsl(233, 11%, 84%);
    text-decoration-line: line-through;
}

.wrapper.dark .todo-list p.completed {
    color: hsl(233, 14%, 35%);
}

.checkbox-border-wrap {
    padding-top: 0.1rem;
    padding-right: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
}

.wrapper.dark .checkbox-border-wrap {
    background: hsl(233, 14%, 35%);
}

.checkbox {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper.dark .checkbox {
    background-color: hsl(235, 24%, 19%);
}

.todo-filter-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: 2.4rem;
    border-top: 0.1rem solid hsl(236, 33%, 92%);
}

.wrapper.dark .todo-filter-control {
    border-top-color: hsl(237, 14%, 26%);
}

.control-btn.group {
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
